# Generated vector database files
vector_db/

# Data directory (your PDFs)
data/
cache/

# Python virtual environment from uv
.venv/

# Python bytecode and caches
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# VSCode settings
.vscode/

# Logs or temp files
*.log
*.tmp

# hal.egg-info
hal.egg-info/

# build directory
build/

# .env file
.env

# local
TODO.md
reset_git.sh

# Ruff cache
.ruff_cache/